<div id="gmap" style="height:400px;width:600px"></div>
<%= javascript_pack_tag 'place' %>
<script src="https://maps.googleapis.com/maps/api/js?key=" + googleKey + "&callback=initMap" async defer></script>
