<script src="js/particles.min.js" ></script>
<script src="js/script.js" ></script>

  <div id="particles-js"></div>
<div class="index-main">
  <div id="particles-js">
    <div class="index-main-top">
      <p>トップページです</p>
    </div>
    <%= link_to "行き先選択", new_plan_path %>
  </div>
</div>